html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2c2a29;
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
}

header {
    display: grid;
    grid-template-areas:
    "logo"
    "nav"
    "contact";
    margin: 10%;    
    font-size: 1em;
}

header h1 {
    grid-area: logo;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.3em;
    margin: 0;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; 
}

.contact-button{
    grid-area: contact;
    background-color: #79c98a;
    text-decoration: none;
    color: #000000;
    border-radius: 10%;
    width: 100%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

main {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.text, .image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1, .text h3, .text p {
    margin-top: 0;
    margin-bottom: 2%;
}

.text h1, .text-left h1{
    font-size: 2.5em;
    color: #79c98a;
}

.text h3{
    letter-spacing: 1em;
}

#learn-more{
    text-decoration: none;
    color: #ffffff;
    margin-left: auto;
}

#learn-more:hover{
    text-decoration: underline;
}

#learn-more:hover i{
    transform: translateX(10px);
}

.image {
    position: relative;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 30%;
}

.background-img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .3s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-img {
    position: absolute;
    bottom: -30%;
    left: -5%;
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .6s;
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-container-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.about-profile-img {
    width: 70%;
    margin: 10% 0%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .5s;
}

.ulster-img {
    width: 80%;
    margin: 10% 0%;
    border-radius: 10%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.text-left, .image-right, .text-right, .image-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-left, .text-right{
    padding-bottom: 5%;
}


.image-right, .image-left {
    align-items: center;
    padding-bottom: 5%;
}

.animation{
    height: 60%;
    overflow: hidden;
    position: relative;
}

.scratch-img{
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}




@media (min-width: 600px) {
    header {
        grid-template-areas:
        "logo contact"
        "nav nav";
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        position: relative; 
        font-size: 1.25em;
        margin: 0;
    }
    .about-container {
        flex-direction: row;
    }
    
    .about-profile-img {
        margin: 0%;
        position: absolute;
        max-height:100%;
        width: auto;
        max-width: 100%;
    }

    .ulster-img {
        margin: 0%;
        position: absolute;
        width: 100%;
    }
    
    
    .text-left, .text-right{
        flex: 0 0 70%;
    }
    
    .text-left *{
        margin-right: 5%;
    }

    .text-right *{
        margin-left: 5%;
    }
    
    .image-right, .image-left {
        position: relative;
        flex: 0 0 30%;
        padding-bottom: 0;
    }
    
}

@media (min-width: 1100px) {
    
    header {
        grid-template-areas:
        "logo nav contact";
    }
    
    header h1 {
        font-size: 4em;
    }
    
    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .contact-button{
        padding: 10px;
        width: auto;
    }
    
    .container {
        flex-direction: row;
    }
    
    .text h1, .text h3, .text p {
        margin-right: 10%;
    }
    
    .text h1{
        font-size: 4em;
    }
    
    #learn-more{
        margin-right: 10%;
    }
    
    .image {
        margin-top: auto;
        margin-bottom: auto;
    }
        
    .profile-img {
        bottom: -15%;
        width: 20vw;
        height: 20vw;
    }

    .about-profile-img {
        width: 80%;
    }

    .ulster-img {
        width: 80%;
    }
}