html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2c2a29;
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: relative; 
    font-size: 1.25em;
}

header h1 {
    font-size: 4em;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 0.3em;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; 
}

.contact-button{
    background-color: #79c98a;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border-radius: 10%;
}

main {
    flex: 1;
}

footer {
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
}

.text, .image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1, .text h3, .text p {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 2%;
}

.text h1{
    font-size: 4em;
    color: #79c98a;
}

.text h3{
    letter-spacing: 1em;
}

#learn-more{
    text-decoration: none;
    color: #ffffff;
    margin-left: auto;
    margin-right: 10%;
}

#learn-more:hover{
    text-decoration: underline;
}

#learn-more:hover i{
    transform: translateX(10px);
}

.image {
    position: relative;
    align-items: center;
}

.background-img {
    width: 80%;
    height: auto;
    border-radius: 10%;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .3s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-img {
    position: absolute;
    bottom: -15%;
    left: -5%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .6s;
}