{% extends "layout.html" %}
{% block title %}Home{% endblock%}
{% block main %}
    <div class="container">
        <div class="text">
            <h1>Jodi Curtis</h1>
            <h3>Web Developer</h3>
            <p>Hi! Welcome to my portfolio! My name is Jodi Curtis. I am a 24 year old Web Developer from Co Fermanagh, Northern Ireland. Feel free to explore some of my past projects, but first you can learn a little more about me..</p>
            <a href="{{ url_for('about') }}" id="learn-more">Learn more ...<i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='images/coding.jpg') }}" alt="My Image" class="background-img">
            <img src="{{ url_for('static', filename='images/jodi_image.jpg') }}" alt="My Image" class="profile-img">
        </div>
    </div>
{% endblock%}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock%}
