<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Detail - Jodi Curtis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/fc6f6498bf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>JC</h1>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('project_list') }}">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/jodi-r-curtis" target="_blank"><i class="fa-brands fa-linkedin fa-lg fa-bounce"style="--fa-animation-iteration-count: 1;"></i></a></li>
          </ul>
        </nav>
        <a href="{{ url_for('contact') }}" class="contact-button">Contact</a>
    </header>
    
    <main>
        <div class="projects-container">
            <a href="{{ url_for('project_list') }}" id="go-back"><i class="fa-solid fa-arrow-left"></i> Back to Projects</a>
            {% if project %}
                <div class="project-detail-header">
                    <h2 class="page-title">{{ project.name }}</h2>
                    {% if project.link %}
                    <p id="project-link"><a href="{{project.link}}" target="_blank">Visit Website</a></p>
                    {% endif %}
                </div>

                <div id="image-project">
                    <img src="{{ url_for('static', filename='images/' ~ project.image) }}" alt="My Image" class="project-detail-img">
                </div>

                <p id="project-description">{{ project.description | replace('\n', '<br>') | safe }}</p>

                <div class="developed-using">
                    <p id="project-languages">Developed using:</p>
                    <div class="languages-container clearfix">
                        {% for language in languages %}
                        <div class="language" data-hover-text="{{ language.description }}">
                                <img src="{{ url_for('static', filename='images/' ~ language.logo) }}" alt="{{ language.name }}">
                                <p class="language-name">{{ language.name }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <p id="project-year">Developed in {{ project.year }}</p>
                <hr>
            {% else %}
                <h2>Project Not Found</h2>
                <p>Sorry, the project you are looking for does not exist</p>
            {% endif %}    
        </div>
    </main>

    <footer>
        <p>&copy; My Portfolio</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>