{% extends "layout.html" %}
{% block title %}Projects{% endblock%}
{% block main %}
    <div class="projects-container">
        <h1 class="page-title">My Projects</h1>            
        {% for project in projects %}
            <a href="{{ url_for('project_details', project_id=project.id) }}" class="project-item-container">
                <div class="text-left">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.brief }}</p>
                </div>
                <div class="image-right">
                    <img src="{{ url_for('static', filename='images/' ~ project.image) }}" alt="My Image" class="project-img">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock%}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock%}